.edit{
    width:100px;
    border-radius: 50%;
    padding:10px;
}
header{
    background-image:url("/static/img/pexels-keira-burton-6147276.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.banner-container{
    height: 100vh;
}
.navbar{
    padding:1% 10%;
    background-color:aquamarine
    
    
}
#features{
    background:#e8ded2 ;
    
}
.feature-col{
    border:1px solid #ff02c0;
    border-radius:5px;
   padding:5px;
   margin:20px;
    transition:.3s;
}
.feature-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style{
    background-color: #ff02c0;
    padding:15px;
    color:white;
    margin:5px 0;
    border-radius: 50px;
}
/* about me start here */
.about-me{
    background-color:#e8ded2 ;
}
.hr-style{
    border:5px dotted white;
    border-bottom: none;
    width:100px;
    

}
.feedback{
    background:#5eaaa8;
}
.img-style{
    border-radius: 50%;
    width:150px;
   
    margin:0 auto;
}
.carousel-item{
    padding:20px;
}
#contact{
    background: #5eaaa8;
}